footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	z-index: -10;
}

.content {
	background-color: var(--bg-color);
	position: relative;
	height: 15vh;
	text-align: center;
	font-size: 1.4rem;
	letter-spacing: 1px;
	color: var(--text-color);
}

.waves {
	position: relative;
	width: 100%;
	height: 15vh;
	margin-bottom: -7px; /*Fix for safari gap*/
	min-height: 10rem;
	max-height: 15rem;
}

/* Animation */

.parallax > use {
	animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}
.parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}
.parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}
.parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}
	100% {
		transform: translate3d(85px, 0, 0);
	}
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
	.waves {
		height: 6rem;
		min-height: 6rem;
	}
	.content {
		height: 15vh;
	}
}

@media (max-width: 425px) {
	.waves {
		height: 5rem;
		min-height: 5rem;
	}
	.content {
		height: 10vh;
	}
}
